@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

/* ------------------------------------SHORT-CUT----------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.home-content span {
  font-family: "Stylish", sans-serif;
}

:root {
  --bg-color: #000;
  --second-bg-color: #0c0a0a;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  padding: 10rem 9% 2rem;
  min-height: 100vh;
}

/* ------------------------------------HEADER----------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header .sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
  font-weight: 400;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  color: var(--main-color);
  font-size: 3.6rem;
  display: none;
}

/* ------------------------------------HOME----------------------------------- */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: "Stylish", sans-serif;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  font-family: "Stylish", sans-serif;
}

.home-content p {
  font-size: 2rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem;
  transition: 0.5s ease;
}

.home-content a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

/* ------------------------------------ABOUT----------------------------------- */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 2rem;
  margin: 2rem 0 3rem;
}

/* ------------------------------------SKILL(SERVICES)----------------------------------- */
#services {
  min-height: 70vh;
}

.services h2 {
  margin-bottom: 3rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--second-bg-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/* ------------------------------------CONTACT----------------------------------- */
.contact {
  text-align: center;
  min-height: 70vh;
}

.contact h2 a {
  align-items: center;
}

.contact h2 {
  margin-bottom: 3rem;
}

/* ------------------------------------FOOTER----------------------------------- */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text {
  font-size: 1.4rem;
}

.footer-icontop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-icontop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-icontop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

/*------------------------------------------- mediaqurrey-------------------------- */
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  .services {
    padding-bottom: 5rem;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    cursor: pointer;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home-content {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .services h2 {
    margin-bottom: 3rem;
  }
}

@media (max-width: 365px) {
  body {
    overflow: hidden;
  }
  .home {
    min-height: 80vh;
  }
  .about {
    min-height: 90vh;
  }

  .contact {
    margin-bottom: 50px;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    align-items: center;
    margin-top: 2rem;
  }
}
